#aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blogtext{
    text-align: left;
    /* padding-left: 80px; */
    /* padding-right: 80px; */
    color: #DAD3BE;
    background-color: #6B8A7A;
    /* width: 94.4vw;  */
    width: 100vw;
    font-family: 'Lalezar';font-size: 22px;
}

.blogtext h1 {
    padding-left: 50px;
}

.blog-break{
    height: 35px;
}

.blog-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #254336;
    font-family: 'Lalezar';font-size: 22px;   
}

.blog-container article{
    border-radius: 20px;
    height: 250px;
    width: 250px;
    padding: 30px;
    padding-top: 15px;
    color: #B7B597;
    margin-top: -150px;
}

article{
    margin-bottom: 100px;
  }

.blog-container article p{
    text-align: center;
    padding: 5px;
}

.blog-container article h1{
    text-align: center;
    padding: 5px;
}

.blog-container article img{
    margin-left: 30px;
    border-radius: 30px;
    border: 20px solid #DAD3BE;
}
  

.blog-container article a{
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content:center;
    margin-top: 10px;
  }
  
  .social-icons a {
    margin: 0 15px; /* Add spacing between individual icons */
  }